@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	background-image: url('img/morning.jpg');
	font-family: 'Roboto Condensed', sans-serif;
}

.clock-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
		
}

/*mobile scherm*/
@media only screen and (max-width: 320px) {
	
	body {
		background-color: pink;
	}

	#time-text {
		font-size: 72px;
		text-align: center;
	}

	#date-text {
		text-align: center;
	}
	
}

/*tablet*/
@media only screen and (min-width: 321px) and (max-width: 720px) {
	
	body {
		background-color: lightblue;
	}

	#time-text {
		font-size: 100px;
		text-align: center;
	}

	#date-text {
		text-align: center;
	}
}


/*desktop*/
@media only screen and (min-width: 721px) {

	body {
		background-color: #eee;
	}

	#time-text {
		font-size: 180px;
		text-align: center;
	}

	#date-text {
		text-align: center;
	}
}